@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  /* Адаптивные стили для мобильных устройств */
  body {
    font-size: 14px;
    padding: 10px;
  }

  /* Пример адаптивных изменений для текста */
  .text-lg {
    font-size: 1.25rem;
  }

  /* Пример адаптации кнопок */
}

@media (min-width: 769px) {
  /* Стили для больших экранов */
  body {
    font-size: 16px;
    padding: 20px;
  }
}

/* Ограничиваем область прокрутки */
.ant-tabs-nav {
  overflow-x: auto !important;  /* скролл только внутри навигации */
  max-width: 100%; /* не больше родителя */
}

/* Убираем overflow:hidden и nowrap для вкладок */
.ant-tabs-nav-wrap {
  overflow: visible !important;
  display: inline-block; /* чтобы не растягивался на всю ширину */
}

.ant-tabs-nav-list {
  white-space: nowrap;
  flex-wrap: nowrap !important;
  max-width: 100%; /* чтобы не выходил за пределы родителя */
}
/* Отключить горизонтальный скроллбар у табов Ant Design */
.ant-tabs-nav-list {
  overflow-x: hidden !important;
  overflow-y: hidden !important;

}


